<nav class="nav">
    <div class="nav-container">
        <a href="/" class="logo">
            <div class="logo-robot"></div>
            <span class="logo-text">zain.</span>
        </a>
        <ul class="nav-links">
            <li><a href="{% url "index" %}#about">About</a></li>
            <li><a href="{% url "index" %}#skills">Skills</a></li>
            <li><a href="{% url "projects" %}">Projects</a></li>
            <li><a href="https://blog.mianzain.tech">Blog</a></li>
        </ul>
    </div>
</nav>